<html>
  <head>
    <script type="text/javascript">
      setTimeout(function() {
        window.opener.location = '<%= url %>';
        window.close();
      }, 100);
    </script>
  </head>
  <body>
    <p>Please wait. Redirecting you back now...</p>
  </body>
</html>
