<div id='dwolla-warning' style="display:none">
  <strong>You cannot charge Dwolla accounts through the admin backend at this time.</strong>
</div>
<script>
  SpreeDwolla.paymentMethodID = "<%= payment_method.id %>"
</script>
